/* .App {
  height: 100vh;
  background-image: url('./images/tecsup_found.png');
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
}
 */
.App{
  margin: 0px;
  padding: 0px;
}